*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

header {
    height: 100px;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    background-color:#3347B0;
}

.logo{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.logo h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}

button {
    background-color: transparent;
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sair span{
    color: #ffffff;
    display: flex;
    align-items: center;
}

.home{
    display: flex;
    justify-content: space-between;
    width: 1248px;
    height: 482px;
}

.home h2{
    color:#353535;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.home span{
    color:#3347B0;
    font-weight: bold;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 78vh;
}


.contatos{
    display: flex;
    flex-direction: column;
    align-items: centers;
}

.copyright{
    display: flex;
    text-align: center;

}

.contato-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px;
    border-radius: 50%; */
    border-color: #ffffff;
    gap: 20px;
}



footer{
    background-color:#3347B0;
    height: 140px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
