*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3347B0;
    padding: 0 50px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}

button {
    background-color: transparent;
    border: 0px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.sair span{
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.home{
    display: flex;
    justify-content: space-between;
    width: 1248px;
    height: 482px;
}

.home h2{
    color:#353535;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 48px;
}

.home span{
    color:#3347B0;
    font-weight: bold;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 78vh;
}


.contatos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contato-lista{
    display: flex;
    align-items: center;
    gap: 15px;
}

.copyright{
    display: flex;
    text-align: center;

}

.contato-social{
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}



footer{
    background-color:#3347B0;
    width: 100%;
    height: 140px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: #ffffff;
}


/* Pagina dos alunos */

.home.pagina-alunos{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.card-aluno{
    width: 240px;
    height: 120px;
    border-radius: 12px;
    background-color: #3347B0;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: system-ui, sans-serif;
    font-weight: 500;
}

